@mixin txt($font-size: 16px, $font-weight: 400, $color: rgba(0,0,0,.85), $opacity: opacity) {
  font-family: 'Roboto', 'sans-serif';

  font-size: $font-size;
  font-weight: $font-weight;
  color: $color;
  opacity: $opacity;
  line-height: 1.5;

  transition: color 300ms;
}