@mixin container($x: 0, $y: 40px) {
  padding: $x $y;
}

@mixin base-button {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 12px;
}

@mixin card-item {
  background-color: #fff;
  padding: 40px;
  border-radius: 12px;
  border: 1px solid #fff;

  &:hover {
    border: 1px solid #1890ff;
    cursor: pointer;
    transition: all 0.3s;
  }
}