$white: #fff;
$gray: #fafafa;
$gray-medium: #828282;
$neutral-1: #A6A6A6;
$neutral-5: #D9D9D9;
$neutral-2: #808080;
$neutral-3: #F0F0F0;
$dark-medium: #555;
$blue: #1890ff;
$blue-2: #e6f7ff;
$orange: #ff7a45;
$orange-dark: #ff6b31;
$black: #262626;
$full-black: #000000;
$lime: #A0D911;