/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* A elements that don't have a class get default styles */
a {
  all: unset;
  cursor: pointer;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font: inherit;
}

/* Make sure textarea without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

.btn__orange {
  background-color: $orange;
  color: $white !important;
  padding: 20px 0;
}

.ant-input-group .ant-input-group-addon {
  background-color: #ffffff !important;
}

.ant-tabs {
  &-bar {
      @media (min-width: 768px) {
          margin: 0 !important;
          border: 0 !important;
      }
  }

  &-content {
      @media (min-width: 768px) {
          display: grid !important;
          grid-gap: 24px !important;
          grid-template-columns: 1fr 1fr !important;
      }

      &:before, &:after {
          @media (min-width: 768px) {
              display: none !important;
          }
      }
  }

  &-nav {
    @media (min-width: 768px) {
      display: none !important;
    }
  }

  &-tab {
      flex-grow: 1 !important;
      z-index: 200 !important;
      width: 50% !important;
      margin: 0 !important;
      text-align: center !important;

      @media (min-width: 768px) {
          display: none !important;
      }
  }

  &-tabpane {
      @media (min-width: 768px) {
          height: 100% !important;
          opacity: 1 !important;
          pointer-events: initial !important;
      }

      &::after {
          &:focus-visible {
              pointer-events: none !important;
          }
      }
  }

  &-ink-bar {
      width: 50% !important;
  }
}